<div class="form-page">

<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: 'title-label'  %>
    <%= form.text_field :title, id: :post_title, class: 'text_field' %>
  </div>

  <div class="field">
    <%= form.label :description, class: 'description-label' %>
    <%= form.text_area :description, id: :post_description, class: 'text_field' %>
  </div>

  <div class="field">
    <%= form.label :price, class: 'price-label' %>
    <%= form.text_field :price, id: :post_price, class: 'price_text_field' %>
  </div>

  <div class="field">
      <%= form.file_field :avatar %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>
