<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/mockup.css">
    <title>iPhone Mockups</title>
  </head>
  <body class="home">

    <div class="section-one">
      <div class="header-image">
        Style + Fashion
      </div>

        <!-- <div class="header-pic-container">
          <div class="left-header-pic">

          </div>
          <div class="center-header-pic">

          </div>
          <div class="right-header-pic">

          </div>
        </div> -->
    </div>


    <div class="section-two">
      <div class="left-section">
        <%= link_to 'LOUIS VUITTON', posts_path %>
      </div>
      <div class="right-section">
        <div class="right-top-section">
          <%= link_to 'AM APPAREL', posts_path %>
        </div>
      <div class="right-bottom-section">
        <div class="bottom-left-image">
         <%= link_to 'CHANEL', posts_path %>
        </div>
          <div class="bottom-right-image">
            <%= link_to 'GIORGIO ARMANI', posts_path %>
          </div>
      </div>
      </div>
    </div>

<!-- SECTION 3-->
    <!-- <div class="section-three-label">
      Electronics
    </div>
    <div class="section-three">
      <div class="three-left-section">
        <%= link_to 'IPHONE 8', posts_path %>
      </div>
      <div class="three-right-section">
        <div class="three-right-top-section">
          <%= link_to 'AM APPAREL', posts_path %>
        </div>
      <div class="three-right-bottom-section">
        <div class="three-bottom-left-image">
         <%= link_to 'CHANEL', posts_path %>
        </div>
        <div class="three-bottom-right-image">
          <%= link_to 'GIORGIO ARMANI', posts_path %>
        </div>
      </div>
      </div>
    </div> -->








    <!-- <div class="overlap-text">

        <div id="NewiPhone">New iPhone.</div>

        <div id="new-mock">New Mockuuups.</div>

        <div id="fully">6 Fully Adjustable Sketch &amp Photoshop Mockups</div>

        <div id="get-mockup">
          <div>
          <button type="button" name="button" class="mockup-button"><%= link_to 'All Products', posts_path %></button>
          </div>
        </div>
        <br>

    </div> -->

          <!-- <div class="container">
            <div class="section-2">
              <div class="container" id="middle-three-text">

                <table class="table"> -->
                  <!-- <thead>
                    <tr>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Photo</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead> -->

                  <!-- <tbody class="product-display">
                    <% @posts.each do |post| %>
                      <tr class="posts">
                        <td class="posts-content"> <%= image_tag(post.avatar.url(:medium)) %><br>
                          <span class="post-title"> <%= post.title %> </span><br>
                          <span class="post-decription"> <%= post.description %> </span><br>
                          <span class="post-price"> $<%= post.price %> </span><br>
                          <center class="show-button"><%= link_to 'Show >', post %></center> -->
                          <!-- <td><%= link_to 'Show', post %></td> -->
                        <!-- </td> -->
                        <!-- <button><%= link_to 'Edit', edit_post_path(post) %></button>
                        <button><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button> -->

                      <!-- </tr>
                    <% end %>
                  </tbody>
                </table>

              </div>
          </div>
        </div> -->

          <!-- <div class="container" id="mockup-on-dribble-div"> -->
              <!-- <h1 id="middle-sec-txt1">Mockuuups, made for you</h1>
              <h3 id="middle-sec-txt2">Trusted by thousands of designers around the world</h3> -->
              <!-- <%= link_to "<button id='middle-sec-btn'>Add A Product</button>".html_safe, new_post_path %>
              <%= link_to "<button id='middle-sec-btn'>View Products</button>".html_safe, posts_path %>
          </div>

          <div class="bottom-container">
          </div> -->

        <footer>

          <div class="left">
            <span id="FooterLinks"><%= link_to 'Home', root_path %><br>
            <%= link_to 'View Post', posts_path %><br>
            <%= link_to 'New Post', new_post_path %></span><br>
          </div>

          <div class="middle">
            <span id="FooterLinks"><a href="#">About Us</a><br>
            <a href="#">Locations</a><br>
            <a href="#">Contact Us</a></span><br>
          </div>

          <div class="right">
            <span id="FooterLinks"><a href="#">Careers</a><br>
            <a href="#">Privacy Policy</a><br>
            <a href="#">Return Policy</a></span><br>
          </div>

        </footer>

        <center><p id="copy">copyright 2017 wyncode homework, LLC</p></center>




  </body>
</html>
