<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/mockup.css">
    <title>iPhone Mockups</title>
  </head>
  <body class="home">

    <!-- <header>
      <div id="freemockups">
      Free Mockuuups
      </div>


      <div class="align-right">
          <div id="numshares">
            4852 Shares
          </div>
            <div id="social-buttons">
             <button type="button" name="Likes">Likes</button>
             <button type="button" name="Tweet">Tweet</button>
            </div>
        </div>
    </header> -->







    <!-- <div class="overlap-text">

        <div id="NewiPhone">New iPhone.</div>

        <div id="new-mock">New Mockuuups.</div>

        <div id="fully">6 Fully Adjustable Sketch &amp Photoshop Mockups</div>

        <div id="get-mockup">
          <div>
          <button type="button" name="button" class="mockup-button"><%= link_to 'All Products', posts_path %></button>
          </div>
        </div>
        <br>

    </div> -->



        <h1 class="products-headline">PRODUCTS</h1>
          <div class="container">
            <div class="section-2">
              <div class="container" id="middle-three-text">

                <table class="table">
                  <thead>
                    <tr>
                      <!-- <th>Title</th>
                      <th>Description</th>
                      <th>Photo</th> -->
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody class="">
                    <% @posts.each do |post| %>
                      <tr class="posts">
                        <td class=""> <%= image_tag(post.avatar.url(:medium)) %> <br><%= post.title %> <br><%= post.description %> <br> $<%= post.price %>
                          <!-- <button><%= link_to 'Edit', edit_post_path(post) %></button>
                          <button><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button> -->
                        </td>

                        <!-- <td><%= link_to 'Show', post %></td> -->
                      </tr>
                    <% end %>
                  </tbody>
                </table>

              </div>
          </div>
        </div>

          <div class="container" id="mockup-on-dribble-div">
              <!-- <h1 id="middle-sec-txt1">Mockuuups, made for you</h1>
              <h3 id="middle-sec-txt2">Trusted by thousands of designers around the world</h3> -->
              <%= link_to "<button id='middle-sec-btn'>Add A Product</button>".html_safe, new_post_path %>
              <%= link_to "<button id='middle-sec-btn'>View Products</button>".html_safe, posts_path %>
          </div>

          <div class="bottom-container">
          </div>

        <footer>

          <div class="left">
            <%= link_to 'Home', root_path %><br>
            <%= link_to 'View Post', posts_path %><br>
            <%= link_to 'New Post', new_post_path %><br>
          </div>

          <div class="middle">
            <a href="#">About Us</a><br>
            <a href="#">Locations</a><br>
            <a href="#">Contact Us</a><br>
          </div>

          <div class="right">
            <a href="#">Careers</a><br>
            <a href="#">Privacy Policy</a><br>
            <a href="#">Return Policy</a><br>
          </div>

        </footer>

        <center><p id="copy">copyright 2017 wyncode homework, LLC</p></center>




  </body>
</html>
