<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/stylesheets/posts.scss">
  </head>
  <body>


<p id="notice"><%= notice %></p>

<h1 id="posts-header">Posts</h1>

<table class="table">


  <tbody>
    <% @posts.each do |post| %>
      <tr class="posts">
        <td> <%= image_tag(post.avatar.url(:thumb)) %> <br>
          <div class="posts-details">
            <span id="post-title"><%= post.title %></span> <br>
            <span id="post-description"><%= post.description %></span><br>
          </div>
          <div class="posts-button-div">
            <span id="destroy-button-posts"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
            <span id="edit-button-posts"><%= link_to 'Edit >', edit_post_path(post) %></span>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %> |
<%= link_to 'Home', root_path %>

  </body>
</html>
