<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class="table">


  <tbody>
    <% @posts.each do |post| %>
      <tr class="posts">
        <td> <%= image_tag(post.avatar.url(:thumb)) %> <br>
        <%= post.title %> <br>
        <%= post.description %><br>

        <button><%= link_to 'Edit', edit_post_path(post) %></button>
        <button><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %> |
<%= link_to 'Home', root_path %>

  </body>
</html>
