<!DOCTYPE html>
<html>
  <head>
    <title>MockupApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="top">
      <div class="current-login">
        <% if current_admin %>
        Welcome, <%= current_admin.name %> | <%= link_to "Logout", '/logout' %>
        <% else %>
        <%= link_to 'Login', '/login' %> | <%= link_to 'Become An Admin', '/signup' %>
        <% end %>
      </div>

      <div class="nav-links">
        <a id="home-button" href="#">Home</a>  <a id="mockups-button" href="#">Mockups</a>  <a id="new-product" href="#">Create New Product</a>
      </div>
    </div>
    <%= yield %>


  </body>
</html>
